@page "/example"

<h1>
    @for(var i=1; i<=currentHeading; i++) 
    {
        @i;
    }
</h1>

<p>
    <label>
        New title
        <input value=@currentHeading @onchange= "@(e => UpdateHeading(int.Parse(e.Value.ToString())))"  />
    </label>

    <button >
        Update heading
    </button>
</p>

<p>
    <label>
        <input type="checkbox" @onchange="CheckChanged" />
        @checkedMessage
    </label>
</p>

@code {
    private int currentHeading = 7;
    //private int newHeading;
    private string checkedMessage = "Not changed yet";


    private void UpdateHeading(int num)
    {
        currentHeading = num;
    }

    private void CheckChanged()
    {
        checkedMessage = $"Last changed at {DateTime.Now}";
    }
}