@page "/factorial"

<h1>This is the factorial page</h1>
<h3>You can calculate factorial of any number here</h3>


<p>@number factorial is (using recursive method) : @recFact(number)</p>
<p>@number factorial is (using while loop): @while_Fact(number)</p>
<p>@number factorial is (using for loop method): @fact(number)</p>


@code {
    private int number = 5;

    private int fact(int num) {
        var factValue = 1;
        for (var i =1; i<= num; i++) {
            factValue = factValue * i;
        }
        return factValue;

    }

    private int while_Fact(int num) {
        var factValue = 1;
        var i =1; 
        while (i<= num) {
            factValue = factValue * i;
            i++;
        }
        return factValue;

    }

    private int recFact(int num) {
        if (num == 1) {
            return 1;
        }
        else {
            return num * recFact(num -1);
        }
    }
}