@page "/"

<h1>Hello, world!</h1>
<h2> This is our first Blazor App!</h2>

<div>
    The date and time now is: @DateTime.Now
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount=3/>
