@page "/todo"
<h3>Todo : (@todos.Count(todo => !todo.IsDone))</h3>

<input placeholder="Something todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo </button>
<p>
    
</p>
<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone"/>
            @todo.Title
            <button @onclick="(e) => AddSubItem(todo)">Add Sub Item</button>
            @if (todo.SubItems != null && !todo.IsDone) 
            {
                <span>Number of sub items: @todo.SubItems.Count()</span>

                <ul>
                    @foreach (var subitem in todo.SubItems)
                    {
                        <li>
                            @subitem
                        </li>
                    }
                </ul>
            }
            else {
                <span>Number of sub items: 0</span>
            }
        </li>
    }
</ul>


@code {

    private List<TodoItem> todos= new();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo)) 
        {
            todos.Add(new TodoItem {Title = newTodo});
            newTodo=string.Empty;
        }
    } 

    private void AddSubItem(TodoItem currentTodo)
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            if (currentTodo.SubItems == null)
            {
                currentTodo.SubItems= new List<string>();
            }
            currentTodo.SubItems.Add(newTodo);
            newTodo=string.Empty;
        }
    }   

    public class TodoItem 
    {
        public string Title {get; set;}
        public bool IsDone {get; set;}
        public List<string> SubItems {get; set;}
    }

}
